In [7]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score
from sklearn.preprocessing import MinMaxScaler

In [19]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Load the CSV file into a DataFrame
df = pd.read_csv('datashotiqr/CB.csv', delimiter=',')

# Drop the specified columns
columns_to_drop = ["SHOT", "GOAL", "7MACC", "6MACC", "9MACC", "WINGACC", "PIVOTACC", "FASTBREAKACC"]
df = df.drop(columns=columns_to_drop)

# Normalize the data using MinMaxScaler
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(df)

# Convert the normalized data back to a DataFrame
normalized_df = pd.DataFrame(normalized_data, columns=df.columns)

In [20]:
normalized_df

      7MSHOT    6MSHOT    9MSHOT  WINGSHOT  PIVOTSHOT  FASTBREAKSHOT
0        0.0  0.272727  1.000000       0.0       0.00           0.00
1        0.0  0.363636  0.000000       0.0       0.25           0.00
2        0.0  0.090909  0.111111       0.0       0.00           0.00
3        0.0  0.000000  0.222222       0.0       0.00           0.00
4        0.0  0.000000  0.000000       0.0       0.00           0.00
...      ...       ...       ...       ...        ...            ...
2636     0.0  0.727273  0.111111       0.0       0.00           0.00
2637     0.0  0.545455  0.000000       0.0       0.00           0.25
2638     0.0  0.000000  0.000000       0.0       0.00           0.00
2639     0.0  0.000000  0.000000       0.0       0.00           0.00
2640     0.0  0.000000  0.000000       0.0       0.00           0.00

[2641 rows x 6 columns]

In [21]:
normalized_df.describe().T

                count      mean       std  min  25%       50%       75%  max
7MSHOT         2641.0  0.021258  0.093979  0.0  0.0  0.000000  0.000000  1.0
6MSHOT         2641.0  0.173247  0.185006  0.0  0.0  0.090909  0.272727  1.0
9MSHOT         2641.0  0.153014  0.184693  0.0  0.0  0.111111  0.222222  1.0
WINGSHOT       2641.0  0.004733  0.039244  0.0  0.0  0.000000  0.000000  1.0
PIVOTSHOT      2641.0  0.020068  0.079204  0.0  0.0  0.000000  0.000000  1.0
FASTBREAKSHOT  2641.0  0.036729  0.111060  0.0  0.0  0.000000  0.000000  1.0